<form
  action="/?page=<%= page %>&&sorted=<%= sorted %>"
  method="POST"
  class="todo-header"
>
  <input class="input-field" type="text" name="content" />
  <button type="submit"><span class="fas fa-plus fa-lg"></span></button>
</form>