<!DOCTYPE html>
<head>
<html lang="en"></html>
  <title>Register</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b22cc2033a.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
       <a href="/"><img src="../static/images/todolist-logo.png" alt="" width="150"></a>
    </div>
  </nav>
  <div class="email-container">
    <div class="check-email">
      <h1>Check your email</h1>
      <p> or request a new reset<a href="/reset"> HERE!</a></p>
    </div>
  </div>
</body>
</html>

