<!DOCTYPE html>
<head>
<html lang="en"></html>
  <title>Reset Password</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b22cc2033a.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/"><img src="../static/images/todolist-logo.png" alt="" width="150"></a>
    </div>
  </nav>
  <div class="reset-container">
    <form action="/resetPasswordForm" method="post" class="reset-form">
      <h2>ENTER NEW PASSWORD</h2>
      <input
        type="password"
        name="password"
        id=""
        placeholder="Ange nytt lösenord"
      />
      <input type="email" name="email" value="<%= validUser.email %>" hidden />
      <button type="submit">Reset password</button>
    </form>
</div>
</body>
</html>

