* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/journal.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  background: rgba(0, 0, 0, 0.2);
}

select {
  margin: 10px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.todo-container {
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 600px;
  height: 460px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.login-container,
.register-container,
.reset-container,
.email-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 460px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form,
.register-form {
  background-color: rgba(255, 255, 255, 0.909);
  padding: 40px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.reset-form,
.check-email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.909);
  padding: 40px;
  width: 70%;
  height: 100%;
  padding-top: 100px;
}

.reset-form > input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  width: 100%;
  margin: 10px;
}
.login-form > input,
.register-form > input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  width: 100%;
}

.login-form > button,
.register-form > button,
.reset-form > button {
  border-radius: 20px;
  border: 1px solid rgb(236, 79, 170);
  background-color: rgb(241, 119, 190);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

a:visited,
a:link {
  color: black;
}

.todo {
  width: 400px;
}
.todo-container h2 {
  padding: 5px;
  font-size: 2em;
  font-family: "Playfair Display", serif;
}
.todo-header .input-field {
  width: 92%;
  border: none;
  box-shadow: 0 0 7px gray;
  border-radius: 5px;
  height: 35px;
  font-family: "Candal", sans-serif;
}
.todo-header button {
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  font-family: "Candal", sans-serif;
  background-color: rgb(241, 119, 190);
}
.todo-container ul {
  list-style: none;
}
.todo-list-item {
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Candal", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
}
.todo-list-item form {
  width: 100%;
  display: flex;
}
.todo-list-item input {
  flex-grow: 2;
  margin-right: 20px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Candal", sans-serif;
  font-size: 15px;
}
.todo-list-item button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-family: "Candal", sans-serif;
  background-color: rgb(51, 212, 100);
}
.todo-list-item .cancel {
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-family: "Candal", sans-serif;
  background-color: rgb(223, 43, 43);
  margin-left: 5px;
}
.todo-list-item div {
  flex-grow: 2;
}

.todo-list-item .edit {
  color: rgb(241, 119, 190);
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.todo-list-item .check {
  color: rgb(34, 224, 34);
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.todo-list-item .remove {
  color: rgb(243, 96, 96);
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}

.checked {
  background-color: green;
}

.un-focused {
  filter: blur(1px);
}

.display-none {
  display: none;
}

.logout-btn {
  border: 1px solid rgb(236, 79, 170);
  background-color: rgb(241, 119, 190);
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
}

.logout-btn a {
  color: white;
  font-weight: 500;
}

.logout-btn a:link {
  text-decoration: none;
}

.err-message {
  color: red;
}
